body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #0a1855), color-stop(100%, #da0024));
    background-image: -webkit-linear-gradient(45deg, #0a1855 0, #da0024 100%);
    background-image: -moz-linear-gradient(45deg, #0a1855 0, #da0024 100%);
    background-image: -ms-linear-gradient(45deg, #0a1855 0, #da0024 100%);
    background-image: -o-linear-gradient(45deg, #0a1855 0, #da0024 100%);
    background-image: linear-gradient(45deg, #0a1855 0, #da0024 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0a1855', endColorstr='#da0024', GradientType=1);
    height: 100vh;
    margin: 0;
}
.hero-unit {
    margin: 0 auto;
    max-width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}
.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}