* {
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}
::selection {
    background: green;
    color: #fff;
    text-shadow:none;
}
html, body {
    margin: 0;
    padding: 0;
    color: #999;
    font-family: arial;
}
header h1{
    display: inline-block;
}
header h1 a{
    color: #bbb;
}
a {
    color: #999;
    text-decoration: none;
}
a:hover {
    color: #eee;
    text-decoration: underline;
}
html {
    background: url(../content/images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper {
    text-align: center;
    width: 99%;
    margin: 0 auto;
}
#player {
    position: fixed;
    bottom: 5px;
    opacity: 0.2;
    left: 0;
    right: 0;
    z-index: 99;
}
#player:hover {
    opacity: 1;
}
#playlist {
    text-align: left;
    max-width: 300px;
    height: 500px;
    padding: 5px;
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: rgba(50, 50, 50, 0.5);
}
.info a{
    color: #bbb;
    text-decoration: underline;
}
#playlist ol {
    height: 480px;
    overflow: auto;
    margin: 0;
}
#lyricWrapper {
    height: 315px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    color: #fff;
}
#lyricContainer {
    position: relative;
    top: 130px;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;/*http://stackoverflow.com/questions/13426875/text-border-using-css-border-around-text*/
}
.current-line-0 {
    color: #FAFA17;
}
.current-line-1 {
    color: #ff1493;
}
.current-line-2 {
    color: #adff2f;
}
.current-line-3 {
    color: #c617e8;
}
.current-song, .current-song a {
    color: #A6E22D;
}
/*hide the default audio controls when overflow, the 526px is the width of the controls in IE*/
@media screen and (max-width: 526px) {
    #player {
        display: none;
   }
}